<% if (theme.visit_counter) { %>
<span id="busuanzi_container_page_pv" title="文章总阅读量" style='display:none'>
    <i class="icon icon-eye" style="padding: 0 .3em;"></i><span id="busuanzi_value_page_pv"></span>
</span>
<% } %>
